.App {
    font-family: sans-serif;
    
}
.Timebox {
    border:1px solid black;
    border-radius:10px;
    padding:20px;
    margin-top:10px;
    background-color:#3A506B;
    color:white;
}

.TimeboxEditor, .TimeboxCreator {
    text-align: right;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color:rgba(53, 49, 49, 1);
    color:white;
}

input {
    min-width: 60%;
    margin-left: 20px;
    font-size: 16px;
    border:1px solid black;
    margin-top:10px;
}

button {
    font-size: 16px;
    margin-left: 10px;
}

.CurrentTimebox {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: rgb(172, 28, 52);
}

.Clock {
    color: #2589BD;
   
}

.ProgressBar {
    border: 1px solid #2589BD;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    position:relative;
}

.TrackRemaining {
    justify-content: flex-end;
}

.ProgressBar .bar {
    height: 100%;
    background-color: #2589BD;
}
.ProgressBar .percent {
    position:absolute;
    height:100%;
    top:5px;
    left:20px;
    font-size:28px;
    font-weight: 600;
   
}

.inactive {
    filter: blur(2px) grayscale(1)
}